a:link, a, a.visited { text-decoration:none; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form, fieldset,input,textarea,blockquote,th,td,p { margin:0; padding:0; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover { text-decoration:none; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ul { list-style:none; }
caption,th { text-align:left; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body {
	font-family:trebuchet,helvetica,sans-serif;
	;
}

#container {
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	width:60em;
}

#header {
	text-align:center;
}


hr {
	border:none;
	border-top:1px solid DarkGray;
}

h1#header {
	font-size:3em;
	margin-right:1em;
	font-weight:bold;
	display:inline;
	color:black;
}

#title {
	text-align:center;
}

#compare {
	margin-bottom:2em;
}

#compare td {
	padding-left:1em;
	padding-right:1em;
}

h1 a {
	color:black;
}

h1 a:hover {
	color:purple;
}

h2#header {
	margin-top:-.3em;
	font-size:.9em;
	font-weight:normal;
	color:gray;
	font-style:italic;
	display:inline;
}

h2#header a:hover {
	color:black;
	text-decoration:none;
}

#nav {
	text-align:center;
}

#nav a {
	text-decoration:none;
	color:purple;
	font-variant:small-caps;
	font-size:.9em;
	display:inline;
	padding:.5em;
	padding-left:.7em;
	padding-right:.7em;
	
}

#nav li {
	display:inline;
}

#nav a:hover {
	color:black;
	text-decoration:underline;
}

#eyeballs {
	font-size:1.3em;
}

#main_img {
	text-align:center;
}

strong {
	font-weight:bold;
}

p {
	margin-top:10px;
	margin-bottom:10px;
}

.version_no {
	font-variant:small-caps;
	color:DarkGray;
}

#content {
	width:75%;
	margin:auto;
	margin-top:3em;
	margin-bottom:3em;
}

#content hr {
	width:50%;
}

#content h1 {
	padding-top:.75em;
	padding-bottom:.75em;
	padding-left:.75em;
	font-variant:small-caps;
	font-style:italic;
}

#content h2 {
	padding-top:.5em;
	padding-bottom:.5em;
	padding-left:.5em;
	font-weight:normal;
	font-variant:small-caps;
	font-style:italic;
}

#content h3 {
	font-weight:normal;
	font-style:italic;
	color:gray;
	font-variant:small-caps;
	padding-top:.5em;
	padding-bottom:.5em;
	padding-left:.5em;
}

#content h4 {
	display:inline;
	padding-left:.5em;
}

#content blockquote {
	width:75%;
	margin:auto;
	font-style:italic;
	color:DarkSlateGray;
	padding-top:.5em;
	padding-bottom:.5em;
}

#content li:hover {
	list-style-type:disc;
}

a.activator {
	color:black;
	font-variant:normal;
}

.quoter {
	font-style:normal;
	color:black;
	font-weight:bold;
	font-variant:small-caps;
	text-align:right;
	padding-top:.5em;
}

#footer {
	margin-bottom:2em;
	font-size:.8em;
}

#footer_nav {
	text-align:center;
	display:inline;
	float:right;
}

#footer_nav a {
	text-decoration:none;
	color:purple;
	font-variant:small-caps;
	font-size:.9em;
	display:inline;
	padding:.5em;
	padding-left:.7em;
	padding-right:.7em;
	
}

#footer_nav li {
	display:inline;
}

#footer_nav a:hover {
	color:black;
	text-decoration:underline;
}

#compare_container {
	
}

.compare {
	color: white;
	background-color: gray;
	padding:.35em;
	padding-left:.5em;
	padding-right:.5em;
	margin:.1em;
}

.with {
	color: white;
	background-color: gray;
	padding: .35em;
	padding-left: .5em;
	padding-right: .5em;
	margin: .1em;
}


.check {
	padding:.35em;
	padding-left:.5em;
	padding-right:.5em;
	background-color:gray;
	width:10em;
	text-align:center;
	margin-top:.5em;
	color:white;
}

a {
	font-variant:small-caps;
}

a:hover {
	text-decoration:underline;
}

td {
	color:gray;
}

.compare_clicked {
	color:black;
	background-color: lightgray;
	font-variant:normal;
}

.with_clicked {
	color:black;
	background-color: lightgray;
	font-variant:normal;
}

.percentage_clicked {
	color: black;
	background-color: lightgray;
}

.with_unavailable {
	color:lightgray;
	font-variant:normal;
}




#stat_answer {
	padding-left:1em;
	padding-right:1em;
	color:green;
}