<html>

<head>
	<title>PearsonBot - BZZZT!</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<script src="{{ url_for('static', filename='jquery.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='protovis.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='jquery.isotope.min.js') }}"></script>
</head>

<body>

<div id="container">

<div id="title">
	<h1 id="header">Pearson-Bot</h1>
	<h2 id="header">By Mozilla Labs Test Pilot + Metrics</h2>
</div>
<hr>


<div id="content">

<div id="compare_section">
	<span class="selector_title">Compare</span>
<div id="compare_container">
	{% for g in groups %}
		<span id="{{ g }}" class="compare_button">{{ g }}</span>
	{% endfor %}
</div>
</div>
<br>
<div i='with_section'>
	<span class="selector_title">With</span>
<div id="with_container">
	{% for g in groups %}
		<span id="{{ g }}" class="with_button">{{ g }}</span>
	{% endfor %}
</div>
</div>
<div class="check">Use Percentages</div>

<br>

<div id="contents"></div>

<div id="output" class="output"></div>

<div id="statistic">
</div>

</div>

<div id="footer">
	<hr>
	A Test Pilot + Metrics love child. 2010.
</div>

<script type="text/javascript+protovis">
	
	var current_compare = null;
	var current_with = null;
	
	
	tm = function(data){
		function title(d) {
		  return d.parentNode ? (title(d.parentNode) + "." + d.nodeName) : d.nodeName;
		}
		var
			re = "",
			data = pv.dom(data).root("data").nodes(),
			color = pv.Colors.category19().by(function(d) d.parentNode.nodeName);
		console.log(data);
		var vis = new pv.Panel()
			.width(500)
			.height(500)
			.canvas("output");
		var partition = vis.add(pv.Layout.Partition.Fill)
		    .nodes(data)
		    .size(function(d) d.nodeValue)
		    .order("descending")
		    .orient("radial");

		partition.node.add(pv.Wedge)
		    .fillStyle(pv.Colors.category19().by(function(d) d.parentNode && d.parentNode.nodeName))
		    .strokeStyle("#fff")
		    .lineWidth(.5);

		partition.label.add(pv.Label)
		    .visible(function(d) d.angle * d.outerRadius >= 6);
		return vis;
	}
	
	barchart = function(d){
		data = d.data;
		
		var n = data.length;
		var m = data[0].length;
		
		var maxd = 0;
		
		var rl = d.labels.row_labels;
		var cl = d.labels.col_labels;
		for (var i in data) {
				for (var j in data[i]) {
					if (data[i][j] > maxd) {
						maxd = data[i][j];
					}
				}
			}
		var w = 700,
		    h = n * m * 15,
		    x = pv.Scale.linear(0, maxd).range(0, w-150),
		    y = pv.Scale.ordinal(pv.range(n)).splitBanded(0, h, 4/5),
		    c = pv.Colors.category20();
		var vis = new pv.Panel()
			.width(w)
			.height(h)
			.bottom(20)
			.left(90)
			.right(10)
			.top(5)
			.canvas("output");
			var bar = vis.add(pv.Panel)
			    .data(data)
			    .top(function() y(this.index))
			    .height(y.range().band)
			  .add(pv.Bar)
			    .data(function(d) d)
			    .top(function() this.index * y.range().band / m)
			    .height(y.range().band / m)
			    .left(0)
			    //.left(x)
			    //.size(20)
			    .width(x)
			    .fillStyle(c.by(pv.index));

			/* The value label. */
			bar.anchor("right").add(pv.Label)
			    .textStyle("white")
			    .text(function(d) parseInt(d.toFixed(1)));

			/* The variable label. */
			bar.parent.anchor("left").add(pv.Label)
			    .textAlign("right")
			    .textMargin(5)
			    .text(function() rl[this.parent.index]);

			/* X-axis ticks. */
			vis.add(pv.Rule)
			    .data(x.ticks(5))
			    .left(x)
			    .strokeStyle(function(d) d ? "rgba(255,255,255,.3)" : "#000")
			  .add(pv.Rule)
			    .bottom(0)
			    .height(5)
			    .strokeStyle("#000")
			  .anchor("bottom").add(pv.Label)
			    .text(x.tickFormat);
			
			// /* Bar labels, v.1. */
			// 			bar.anchor("right").add(pv.Label)
			// 				.textAlign("left")
			// 				.textMargin(5)
			// 				.text(function() cl2[this.index]);
			
			vis.add(pv.Dot)
				.data(data[0])
				.right(5)
				.top(function() 15 + this.index * 15) 
				.size(20)
				.strokeStyle(null)
				.fillStyle(c.by(pv.index))
				.anchor("left").add(pv.Label)
					.text(function() cl[this.index]);
				
			
			// vis.anchor("right").add(pv.Label)
			// 			.right(10)
			// 			.top(function() this.parent.index * 12 + 10)
			// 			.text(function() "hello");
			
			  // vis.add(pv.Dot)
			  // 		          .right(10)
			  // 		          .top(function() this.parent.index * 12 + 10)
			  // 		          .fillStyle(function(d) c(d.key))
			  // 		          .strokeStyle(null)
			  // 		        .anchor("left").add(pv.Label)
			  // 		          .text(function(d) d.key);
		return vis;
	}
	
	submit_comparison = function(compare_term, with_term){
		//var n = $("input:checked").length;
		var normalized = $(".percentage_clicked").attr("class") != undefined;
		console.log("normalized is" + normalized);
		$.ajax(
			{
				type: 'GET',
				cache: false,
				data: {"term1" : compare_term, "term2" : with_term, "normalized" : normalized},
				url: "{{ url_for('compare') }}",
				beforeSend: function(){
					
				},
				success: function(data){
					
					data = $.parseJSON(data);
					vis = barchart(data);
					// stat_sig = data.p_value;
					// stat_sig = stat_sig > .95 ? "Yep - different." : "Nope - not different."
					// $("#statistic").html("P(statistically independent | data) = <span id='stat_answer''>" + data.p_value + "</span> (" + stat_sig + ")")
					//vis = tm(data);
					vis.render();
				}
			}
		)
	}
	
	$(".compare_button").click(function(){
		//alert("hi " + $(this).html());
		// remove the old current_compare.
		if (current_compare) {
			$(".compare_clicked").removeClass("compare_clicked");
		}
		// If with_clicked has the same ID, then remove with_clicked.
		// Get content of function.
		current_compare = $(this).attr("id");
		if (current_compare == $(".with_clicked").attr("id")){
			$(".with_clicked").removeClass("with_clicked");
		}
		current_with = $(".with_clicked").attr("id");
		// Add the proper class in compare and remove in with.
		
		$(this).addClass("compare_clicked");
		
		if (current_with != undefined & current_compare != undefined) {
			submit_comparison(current_compare, current_with);
		}
	})
	
	$(".with_button").click(function(){
		if (current_with){
			$(".with_clicked").removeClass("with_clicked");
		}
		current_with = $(this).attr("id");
		//console.log(current_with);
		if (current_with == $(".compare_clicked").attr("id")){
			$(".compare_clicked").removeClass("compare_clicked");
		}
		$(this).addClass("with_clicked");
		current_compare = $(".compare_clicked").attr("id");
		if (current_with != undefined & current_compare != undefined) {
			submit_comparison(current_compare, current_with);
		}
	});
	$(":checkbox").click(function(){
		current_compare = $(".compare_clicked").attr("id");
		current_with = $(".with_clicked").attr("id");
		if (current_with != undefined & current_compare != undefined) {
			submit_comparison(current_compare, current_with);
		}
	})
	
	$(".check").click(function(){
		$(this).toggleClass("percentage_clicked");
		//console.log($("#check").attr("class"))
		current_compare = $(".compare_clicked").attr("id");
		current_with = $(".with_clicked").attr("id");
		if (current_with != undefined & current_compare != undefined) {
			submit_comparison(current_compare, current_with);
		}
	})
	
	$("#compare_container").isotope({
		itemSelector: ".compare_button",
		layoutMode: "fitRows"
	});
	$("#with_container").isotope({
		itemSelector: ".with_button",
		layoutMode: "fitRows"
	})
	
</script>

</div>
</body>
</html>
